/* https://s9a.page/tape */
/* :root{--tape-filter:none;--tape-bluv:#11dff1;--tape-play:#fbbfff;--tape-loud:#eee833;--tape-luvu:#44f477;--tape-blaq:#0e0e0e;--tape-watt:#e0e0e0;--tape-hex:#e0e0e0;--tape-mix:transparent}.tape-watt{--tape-hex:var(--tape-watt)}.tape-luvu{--tape-hex:var(--tape-luvu)}.tape-loud{--tape-hex:var(--tape-loud)}.tape-play{--tape-hex:var(--tape-play)}.tape-bluv{--tape-hex:var(--tape-bluv)}.tape-flat{border-color:transparent}.tape-flap{border-color:currentColor}.tape-flow{--tape-remix:none}.tape-flow :not(.tape-skip){background-color:transparent;color:inherit}.tape-blaq,.tape-bluv,.tape-loud,.tape-luvu,.tape-play,.tape-watt{--tape-mix:var(--tape-hex);--tape-remix:none;color:var(--tape-blaq)!important;background-color:var(--tape-mix)!important;background-image:var(--tape-remix);filter:var(--tape-filter)}.tape-blaq{--tape-mix:var(--tape-blaq);color:var(--tape-hex)!important}.tape-erase,.tape-erase *{color:transparent!important} */

/*
https://webmural.com/iffy remix
*/
:root { --iffy:darkviolet; --yffi:lemonchiffon }
.iffy * { background-color:transparent; color:unset }
.yffi * { background-color:transparent; color:unset }
.iffy { fill:var(--iffy); stroke:var(--yffi) }
.yffi { fill:var(--yffi); stroke:var(--iffy) }
.iffy.iffy { background-color:var(--iffy); color:var(--yffi) }
.yffi.yffi { background-color:var(--yffi); color:var(--iffy) }
.iffy ::selection { color:var(--iffy); background:aquamarine }
.yffi ::selection { color:var(--yffi); background:dodgerblue }
.ffiy { filter: hue-rotate(288deg) }
.ffyi { filter: hue-rotate(144deg) }
.yiff { filter: hue-rotate(-144deg) }
.iyff { filter: hue-rotate(-288deg) }
@media (prefers-color-scheme:dark) {:root { --yffi:khaki }}
@media (prefers-contrast:more) {:root { --iffy:indigo }}
@media (prefers-contrast:less) {:root { --yffi:peachpuff }}

.nnis { filter: hue-rotate(288deg) }
.sinn { filter: hue-rotate(144deg) }
.inns { filter: hue-rotate(-144deg) }
.snni { filter: hue-rotate(-288deg) }

/* party */

:focus {
  outline: .5rem dotted blueviolet;
}

@media (prefers-contrast: more) {
  :root { --tape-blaq: midnightblue }
  ::selection { background: purple }
  :focus { outline-color: indigo }
}

.feet {
  text-shadow:
    0rem 3rem 1pc magenta,
    0rem 2rem 2pc magenta,
    0rem 1rem 1pc magenta,
    0rem 2rem 2pc darkviolet,
    0rem 3rem 3pc darkviolet,
    0rem 5rem 3pc darkviolet,
    0rem 8rem 3pc plum,
    0rem 13rem 5pc coral,
    0rem 21rem 3pc coral;
}

.verb {
  text-shadow:
    0rem 3rem 1pc magenta,
    0rem 2rem 2pc magenta,
    0rem 1rem 1pc magenta,
    0rem 2rem 2pc darkviolet,
    0rem 3rem 3pc darkviolet,
    0rem 5rem 3pc darkviolet,
    0rem 8rem 3pc plum,
    0rem 13rem 5pc coral,
    0rem 21rem 3pc coral;
}

.byte {
  text-shadow:
    0 1vh 0 darkviolet,
    0 2vh 0 #ec0,
    -2rem -2rem 2pc magenta,
    -1rem -1rem 1pc magenta,
    3rem -3rem 3pc cyan,
    5rem -5rem 5pc cyan;
}

u {
  --yffi: #ec0;
  font-weight: bold;
  position: relative;
  text-indent: -1em;
  z-index: -1;
}

.ball {
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}

:any-link {
  border: thick outset transparent;
  color: inherit;
  display: flex;
}

:focus {
  outline-style: outset;
  outline-color: rgb(90, 30, 150);
  outline-width: 2mm;
}

:any-link:hover {
  border-style: outset;
  border-color: violet;
  text-decoration-style: double;
}

::selection {
  background: indigo;
  color: hotpink;
}

::selection {
  background: rgb(180, 90, 240);
  color: rgb(30, 30, 20);
}

:focus {
  filter: hue-rotate(-72deg) !important;
}

html {
  font: max(3ch, 7vmax) / 1.618 sans-serif;
}

body {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin: 0 auto 20vh;
  overflow-wrap: anywhere;
}

body > * {
  flex-basis: 100%;
}

header {
  display: flex;
  flex-flow: column;
  margin: 100vh auto;
}

h1 {
  font-size: 1.6rem;
  margin: 0;
  min-height: 62vh;
  text-align: end;
}

.hi {
  margin-top: 4em;
  letter-spacing: .8em;
  text-indent: .2em;
}

footer {
  min-height: 62vh;
  font-size:  2rem;
  transform: rotate(180deg);
}

aside {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  font-size: 1.6rem;
  margin-bottom: 100vh;
  min-height: 100vh;
}

aside a {
  align-self: flex-end;
}

s {
  text-decoration-style: dotted;
}

nav {
  contain: layout;
  flex-basis: 100%;
}

luna {
  z-index: 1;
}

menu {
  display: flex;
  flex-flow: row wrap;
  font-size: .8rem;
  list-style: none;
  padding: 0;
}

li {
  flex-basis: 100%;
  margin: 0;
}

li a {
  margin: .2ch;
}

@media (orientation: portrait) {
  menu,
  aside {
    writing-mode: vertical-rl;
  }
}

[hidden]:not(:target) {
  display: none;
}
